.segment .home-button{
    display: block;
    width: 40%;
    margin: 0px auto;
}

.segment p{
    margin: 0px 0px 20px 0px;
}

.segment h3{
    margin-bottom: 20px;
}

.segment h4{
    margin: 40px 0px 20px 0px;
}
.home-button-group{
    display: flex;
    margin: 0 0 20px 0;
}


/*TESTE*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial;
}
header{
    background: #0087d8;
    padding: 20px 0;
}

[v-cloak] {
    display: none;
}

.header-container{
    width: 960px;
    margin: 0 auto;
}

.header-container::after, .header-container::before{
    content: ' ';
    display: table;
    clear: both;
}

.header-logo{
    display: block;
    float: left;
    margin-left: 10px;
    height: 105px;
}

.header-logo img{
    max-width: 90px;
    display: block;
    margin: 0 auto;
}

.header-logo h1{
    font-size: 1em !important;
    color: #fff;
    margin: 0px !important;
    font-weight: bold !important;
    line-height: 1em !important;
}

.header-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin-right: 10px;
    height: 105px;
}

.header-menu{
    list-style: none;
    color: white;

}

.header-menu li{
    display: inline-block;
}

.header-menu li a{
    display: block;
    padding: 15px 15px 5px 15px;
    text-decoration: none;
    font-size: 1.125em;
    color: #fff;
    border-bottom: 5px solid rgba(0,0,0,0);
    transition: 0.5s;
}

.header-menu li a:hover{
    color: #FFDD55;
    border-bottom: 5px solid #FFDD55 !important;
}

.menu-active a{
    border-bottom: 5px solid #ffffff !important;
}

main{
    min-height: calc(100vh - 350px);
}
.main-container{
    width: 960px;
    margin: 0 auto 100px auto;
}

.main-container h2{
    display: block;
    margin-top: 100px;
    text-align: center;
    font-size: 1.7em;
}

.main-login{
    height: 400px;
}

.login-page {
    width: 360px;

    margin: 100px auto;
}



.main-container{
    width: 960px;
    min-width: 400px;
    margin: 0 auto 100px auto;
}

.main-container h2{
    display: block;
    margin-top: 100px;
    text-align: center;
    font-size: 1.7em;
}

.form-container{
    padding: 50px;
}

.main-content{
    width: 100%;
    margin: 100px auto;
}
.segment {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 960px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: left;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.segment h3 {
    font-size: 1.25em !important;
}

.segment p {
    margin: 20px 0 80px 0;
    width: 525px;
    line-height: 1.4em;
    font-size: 1.125em;
}

.segment input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.segment button {
    font-family: Arial;
    text-transform: uppercase;
    outline: 0;
    background: #0087d8;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.segment button:hover,.segment button:active,.segment button:focus {
    background: #FFDD55;
    color: black;
}
.segment .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.segment .message a {
    color: #0087d8;
    text-decoration: none;
}
.segment .register-form {
    display: none;
}

footer{
    background: #404040;
    padding: 50px 0;
}
.footer-container{
    width: 960px;
    margin: 0 auto;
    color: white;
    text-align: center;
}

hr{
    margin: 20px 0px;
}


@media (max-width: 720px){
    html{
        /*min-width: fit-content;*/
        max-width: 100vw;
        height: auto;
        min-height: 100% !important;
        position: relative;
    }
    body{
        min-width: 100%;
        /*height: auto;*/
        /*min-height: 100% !important;*/
        /*position: relative;*/
    }
    *{
        font-size: 20px;
    }

    /*HEADER*/
    .header-container{
        height: auto;
        min-height: 100% !important;
        position: relative;
    }
    .header-logo{
        width: 100%;
        margin: 0px auto;
        text-align: center;
    }
    .header-nav{
        margin-top: 10px;
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .header-nav ul{
        display: flex;
        flex-direction: column;
    }


    /*-----*/
    main{
        width: 100%;
    }
    .main-container{
        max-width: 100%;
    }
    .header-container{
        width: 100%;
    }
    footer{
        width: 100%;
    }
    .footer-container{
        width: 100%;
    }

    .form{
        max-width: 100%;
        margin: 0px;
    }
    .main-login{
        max-height: 100%;
        max-width: 100%;
    }
    .login-page{
        width: 100%;
    }

    .segment p{
        width: 100%;
    }

}