<div id="add-address-modal" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        Cadastrar endereço
    </div>

    <div class="form-container">

        <form class="ui form">
            <div class="field">
                <label>Tipo</label>
                <div class="ui selection dropdown">
                    <input type="hidden" name="type" id="new-type">
                    <i class="dropdown icon"></i>
                    <div class="default text">Tipo</div>
                    <div class="menu">
                        <div class="item" data-value="Refrigerador">Refrigerador</div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Modelo</label>
                <input type="text" name="model" placeholder="Modelo do eletrodoméstico" id="new-model">
            </div>
        </form>
    </div>

    <div class="actions">
        <div @click="addAddress" class="ui blue button">Cadastrar</div>
    </div>
</div>