<div id="add-address-modal" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        Cadastrar endereço
    </div>

    <div class="form-container">

        <form class="ui form">
            <div class="field">
                <label for="new-street">Rua</label>
                <input id="new-address-street" name="new-street" type="text" placeholder="Nome" value=""/>
            </div>
            <div class="field">
                <label for="number">Número</label>
                <input id="new-address-number" name="number" type="text" placeholder="Número" value=""/>
            </div>
            <div class="field">
                <label for="neighborhood">Bairro</label>
                <input id="new-address-neighborhood" name="neighborhood" type="text" placeholder="Bairro" value=""/>
            </div>
            <div class="field">
                <label for="complement">Complemento</label>
                <input id="new-address-complement" name="complement" type="text" placeholder="Complemento" value="" />
            </div>
            <div class="field">
                <label for="city">Cidade</label>
                <input id="new-address-city" name="city" type="text" placeholder="Cidade" value="" />
            </div>
            <div class="field">
                <label for="state">Estado</label>
                <input id="new-address-state" name="state" type="text" placeholder="Estado" value="" />
            </div>
            <div class="field">
                <label for="energy-company">Companhia de energia elétrica</label>
                <select id="new-address-energy-company" name="energy-company" type="text" placeholder="Companhia de energia elétrica" value="" />
                    <option v-for="item in energyCompanies">[[item]]</option>
                </select>
            </div>
        </form>
    </div>

    <div class="actions">
        <div @click="addAddress" class="ui blue button">Cadastrar</div>
    </div>
</div>