{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Analisador de Eficiência Energética</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <header>
        <div class="header-container">
            <div class="header-logo">
                <img src="{% static "img/logo.svg" %}" alt="logo"/>
                <h1>Analisador de Eficiência Energética</h1>
            </div>
            <nav class="header-nav">
                <ul class="header-menu">
                    <li><a href="{% url 'index' %}">Início</a></li>
                    {% if user.is_authenticated %}<li><a href="{% url 'logout' %}">Painel</a></li>{% endif %}
                    <li class="menu-active"><a href="{% url 'about' %}">Sobre</a></li>
                    <li><a href="{% url 'pbe' %}"">PBE</a></li>
                    <li><a href="{% url 'help' %}">Ajuda</a></li>
                    <li><a href="{% url 'contact' %}">Contato</a></li>
                    {% if user.is_authenticated %}<li><a href="{% url 'logout' %}">Sair</a></li>{% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="main-container">
            <h2>Sobre o Projeto</h2>

            <div class="main-content">
                <div class="segment">


                    <h3>O que é a plataforma ?</h3>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                    </p>


                    <h3>Como a plataforma funciona ?</h3>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                    </p>

                </div>
            </div>

        </div>
    </main>

    <footer>
        <div class="footer-container">
            <h4>2020 - Desenvolvido por Lucas Andrade</h4>
        </div>
    </footer>

    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>
    <script>

        $('.message a').click(function(){
            $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
        });
    </script>
</body>
</html>