{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monitor de Eficiência Energética</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <header>
        <div class="header-container">
            <div class="header-logo">
                <img src="{% static "img/logo.svg" %}" alt="logo"/>
                <h1>Monitor de Eficiência Energética</h1>
            </div>
            <nav class="header-nav">
                <ul class="header-menu">
                    <li><a href="{% url 'index' %}">Início</a></li>
                    {% if user.is_authenticated %}<li><a href="{% url 'logout' %}">Painel</a></li>{% endif %}
                    <li><a href="{% url 'about' %}">Sobre</a></li>
                    <li><a href="{% url 'pbe' %}"">PBE</a></li>
                    <li class="menu-active"><a href="{% url 'help' %}">Ajuda</a></li>
                    <li><a href="{% url 'contact' %}">Contato</a></li>
                    {% if user.is_authenticated %}<li><a href="{% url 'logout' %}">Sair</a></li>{% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="main-container">
            <h2>Suporte ao usuário</h2>
            <div class="main-content">
                <div class="segment">


                    <h3>Manual da plataforma</h3>
                    <p>Para fazer o donwload do manual, <a href="#">clique aqui</a>.</p>

                </div>
            </div>
        </div>
    </main>

    <footer style="">
        <div class="footer-container">
            <h4>2020 - Desenvolvido por Lucas Andrade</h4>
        </div>
    </footer>

    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>
    <script>

        $('.message a').click(function(){
            $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
        });
    </script>
</body>
</html>