{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>
    <title>Analisador de Eficiência Energética</title>
    <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}"  media="screen" type="text/css">
    <link rel="stylesheet" href="{% static 'css/icons.min.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">


</head>
<body>

    <header>
        <div class="header-container">
            <div class="header-logo">
                <img src="{% static "img/logo.svg" %}" alt="logo"/>
                <h1>Analisador de Eficiência Energética</h1>
            </div>
            <nav class="header-nav">
                {% include 'includes/navbar-menu.html' %}
            </nav>
        </div>
    </header>

    <main id="home">
        <div class="main-container">
            <h2>Bem vindo {{ user.first_name }} ! </h2>
            <div class="main-content">
                <div class="segment">


                    <h3>Meus Dados</h3>
                    <form class="user-data">
                        <label for="first-name">Nome</label>
                        <input name="first-name" type="text" placeholder="Nome" value="{{ user.first_name }}" disabled/>
                        <label for="last-name">Sobrenome</label>
                        <input name="last-name" type="text" placeholder="Sobrenome" value="{{ user.last_name }}" disabled/>
                        <label for="email">Email</label>
                        <input name="email" type="text" placeholder="Email" value="{{ user.email }}" disabled/>
                        <div class="home-button-group">
                            <button class="home-button" @click.prevent="showUserModal">Alterar meus dados</button>
                            <button class="home-button" @click.prevent="showPasswordModal">Alterar senha</button>
                        </div>
                    </form>
                    <hr/>
                    <h3>Endereço</h3>
                    <div>
                        {% if address %}
                            <label for="street">Rua</label>
                            <input id="address-street-{{ address.pk }}" name="street" type="text" placeholder="Nome" value="{{ address.street }}" disabled/>
                            <label for="number">Número</label>
                            <input id="address-number-{{ address.pk }}" name="number" type="text" placeholder="Número" value="{{ address.number }}" disabled/>
                            <label for="neighborhood">Bairro</label>
                            <input id="address-neighborhood-{{ address.pk }}" name="neighborhood" type="text" placeholder="Bairro" value="{{ address.neighborhood }}" disabled/>
                            {% if address.complement %}
                                <label for="complement">Complemento</label>
                                <input id="address-complement-{{ address.pk }}" name="complement" type="text" placeholder="Complemento" value="{{ address.complement }}" disabled/>
                            {% else %}
                                <label for="complement">Complemento</label>
                                <input id="address-complement-{{ address.pk }}" name="complement" type="text" placeholder="Complemento" value="Não informado" disabled/>
                            {% endif %}
                            <label for="city">Cidade</label>
                            <input id="address-city-{{ address.pk }}" name="city" type="text" placeholder="Cidade" value="{{ address.city }}" disabled/>
                            <label for="energy-company">Companhia de energia elétrica</label>
                            <input id="address-energy-company-{{ address.pk }}" name="energy-company" type="text" placeholder="Companhia de energia elétrica" value="{{ address.energy_company }}" disabled/>
                            <button id="show-update-address-modal" class="home-button"
                                    @click="showUpdateAddressModal">
                                ALTERAR ENDEREÇO
                            </button>
                        {% else %}
                            <p>Você ainda não cadastrou seu endereço.</p>
                            <button id="show-add-address-modal" class="home-button"
                                    @click="showAddAddressModal">
                                CADASTRAR ENDEREÇO
                            </button>
                        {% endif %}

                    </div>
                    <hr/>
                    <h3>Eletrodomésticos</h3>
                    <div>
                        {% if household_appliances %}
                            {% for item in household_appliances %}
                                <h4>Eletrodoméstico {{ forloop.counter }}
                                    <div id="item-{{ item.id }}"
                                         class="ui icon inline button"
                                         data-tooltip="Editar este eletrodoméstico"
                                         @click="showEditHouseholdModal"
                                    >
                                        <i class="pen icon"></i>
                                    </div>
                                    <div class="ui icon inline button" data-tooltip="Excluir este eletrodoméstico">
                                        <i class="trash icon"></i>
                                    </div>
                                </h4>
                                <label for="type">Tipo</label>
                                <input id="item-{{ item.pk }}-type" name="type" type="text" placeholder="Tipo" value="{{ item.type }}" disabled/>
                                <label for="model">Modelo</label>
                                <input id="item-{{ item.pk }}-model" name="model" type="text" placeholder="Modelo" value="{{ item.model }}" disabled/>
                                <label for="brand">Marca</label>
                                <input id="item-{{ item.pk }}-brand" name="brand" type="text" placeholder="Tipo" value="{{ item.brand }}" disabled/>
                                <label for="classification">Classificação obtida no PBE</label>
                                <input id="item-{{ item.pk }}-classification" name="classification" type="text" placeholder="Classificação" value="{{ item.classification }}" disabled/>
                                <label for="energy_consumption">Consumo informado pelo fabricante (kWh/mês)</label>
                                <input id="item-{{ item.pk }}-energy-consumption" name="energy_consumption" type="text" placeholder="Consumo" value="{{ item.energy_consumption }}" disabled/>

                            {% endfor %}
                        {% else %}
                            <p>Você não possui nenhum eletrodoméstico cadastrado.</p>
                        {% endif %}
                    </div>
                    <button id="show-add-household-modal" class="home-button"
                        @click="showAddHouseholdModal"
                    >Cadastrar novo eletrodoméstico</button>
                </div>
            </div>
        </div>
        {% include 'includes/update-user-modal.html' %}
        {% include 'includes/update-password-modal.html' %}
        {% include 'includes/create-address-modal.html' %}
        {% include 'includes/update-address-modal.html' %}
        {% include 'includes/create-household-modal.html' %}
        {% include 'includes/edit-household-modal.html' %}
    </main>

    <footer>
        <div class="footer-container">
            <h4>2020 - Desenvolvido por Lucas Andrade</h4>
        </div>
    </footer>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
     <script>
         document.addEventListener('DOMContentLoaded', function(){
             $('.selection.dropdown').dropdown();
         })
        var home = new Vue({
            el: '#home',
            data:{
                householdType: "",
                energyCompanies: [],
            },
            delimiters: ['[[',']]'],
            created(){
                // Preenche o array com todas as companhias de energia
                let self = this;
                fetch("https://apise.way2.com.br/v1/agentes/?api_key=62cbcd1acdc847b6884dad558bd43f93").then((res) => {
                    console.log(res);
                    return res.json();
                }).then((data) => {
                    console.log(data);
                    data.forEach(element => {
                        self.energyCompanies.push(element.nome);
                    });
                });
            },
            methods:{
                showUserModal: function () {
                    $('#update-user-modal').modal('show');
                },
                showPasswordModal: function () {
                    $('#update-password-modal').modal('show');
                },
                showAddHouseholdModal: function () {
                    $('#add-household-modal').modal('show');
                },
                showAddAddressModal: function(){
                    $('#add-address-modal').modal('show');
                },
                showUpdateAddressModal: function(){
                    $('#update-address-modal').modal('show');
                },
                addHouseholdAppliance: function(){
                    let newType = document.querySelector("#new-type").value;
                    let newModel = document.querySelector("#new-model").value;
                    let newBrand = document.querySelector("#new-brand").value;
                    let newEnergyConsumption = document.querySelector("#new-energy-consumption").value;
                    let newClassification = document.querySelector("#new-classification").value;
                    let newRefrigeratorVolume = document.querySelector("#new-refrigerator-volume").value;
                    let newFreezerVolume = document.querySelector("#new-freezer-volume").value;
                    let newFreezerStars = document.querySelector("#new-freezer-stars").value;
                    let newFrostFree = document.querySelector("#new-frost-free").value === "1";
                    let newCategory = document.querySelector("#new-category").value;
                    let self = this;
                    axios.defaults.headers.common['X-CSRFToken'] = '{{csrf_token}}';
                    axios.post('{% url 'add_household_appliance' %}', {
                        type: newType,
                        model: newModel,
                        brand: newBrand,
                        energyConsumption: newEnergyConsumption,
                        classification: newClassification,
                        refrigeratorVolume: newRefrigeratorVolume,
                        freezerVolume: newFreezerVolume,
                        freezerStars: newFreezerStars,
                        frostFree: newFrostFree,
                        category: newCategory,
                        csrfmiddlewaretoken: '{{csrf_token}}',
                    }).then(function(response){
                        window.location.href = '/home';
                    })


                },
                addAddress: function(){
                    let street = document.getElementById("new-address-street").value;
                    let number = document.getElementById("new-address-number").value;
                    let neighborhood = document.getElementById("new-address-neighborhood").value;
                    let complement = document.getElementById("new-address-complement").value;
                    let city = document.getElementById("new-address-city").value;
                    let state = document.getElementById("new-address-state").value;
                    let energyCompany = document.getElementById("new-address-energy-company").value;

                    axios.defaults.headers.common['X-CSRFToken'] = '{{csrf_token}}';
                    axios.post('{% url 'add_address' %}', {
                        street,
                        number,
                        neighborhood,
                        complement,
                        city,
                        state,
                        energyCompany,
                        csrfmiddlewaretoken: '{{csrf_token}}',
                    }).then(function(response){
                        window.location.href = '/home';
                    })

                },
                updateUserData(){
                    const newFirstName = document.querySelector('#new-first-name').value;
                    const newLastName = document.querySelector('#new-last-name').value;
                    const newEmail = document.querySelector('#new-email').value;
                    axios.defaults.headers.common['X-CSRFToken'] = '{{csrf_token}}';
                    axios.post('{% url 'update_user_data' %}', {
                        newFirstName,
                        newLastName,
                        newEmail,
                        csrfmiddlewaretoken: '{{csrf_token}}',
                    }).then(function(response){
                        window.location.href = '/home';
                    })
                },
                updateAddress(){
                    const newStreet = document.querySelector('#update-address-street').value;
                    const newNumber = document.querySelector('#update-address-number').value;
                    const newNeighborhood = document.querySelector('#update-address-neighborhood').value;
                    const newComplement = document.querySelector('#update-address-complement').value;
                    const newCity = document.querySelector('#update-address-city').value;
                    const newState = document.querySelector('#update-address-state').value;
                    const newEnergyCompany = document.querySelector('#update-address-energy-company').value;
                    axios.defaults.headers.common['X-CSRFToken'] = '{{csrf_token}}';
                    axios.post('{% url 'update_address' %}', {
                        newStreet,
                        newNumber,
                        newNeighborhood,
                        newComplement,
                        newCity,
                        newState,
                        newEnergyCompany,
                        csrfmiddlewaretoken: '{{csrf_token}}',
                    }).then(function(response){
                        window.location.href = '/home';
                    })
                },
                showEditHouseholdModal: function(event){
                    $('#edit-household-modal').modal('show');
                    let itemId = event.currentTarget.id;
                    let itemType = document.querySelector(`#${itemId}-type`).value;
                    let itemModel = document.querySelector(`#${itemId}-model`).value;
                    let itemBrand = document.querySelector(`#${itemId}-brand`).value;
                    console.log(itemType);
                    console.log(itemModel);
                    document.querySelector('#edit-type').value = itemType;
                    document.querySelector('#edit-model').value = itemModel;
                    document.querySelector('#edit-brand').value = itemBrand;
                },
                editHouseholdAppliance: function(){
                    console.log('ola');
                },
            }

        });
    </script>
</body>
</html>