{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monitor de Eficiência Energética</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <header>
        <div class="header-container">
            <div class="header-logo">
                <img src="{% static "img/logo.svg" %}" alt="logo"/>
                <h1>Monitor de Eficiência Energética</h1>
            </div>
            <nav class="header-nav">
                <ul class="header-menu">
                    <li class="menu-active"><a href="{% url 'index' %}">Início</a></li>
                    {% if user.is_authenticated %}<li><a href="{% url 'logout' %}">Painel</a></li>{% endif %}
                    <li><a href="{% url 'about' %}">Sobre</a></li>
                    <li><a href="{% url 'pbe' %}"">PBE</a></li>
                    <li><a href="{% url 'help' %}">Ajuda</a></li>
                    <li><a href="{% url 'contact' %}">Contato</a></li>
                    {% if user.is_authenticated %}<li><a href="{% url 'logout' %}">Sair</a></li>{% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="main-container">
            <h2>Bem vindo ! </h2>
            <div class="main-login">
                <div class="login-page" v-cloak>
                    <div class="form">
                        <form class="register-form">
                            <input name="register-first-name" type="text" placeholder="Nome"/>
                            <input name="register-last-name" type="text" placeholder="Sobrenome"/>
                            <p v-if="emailError" class="error-message">Email já cadastrado</p>
                            <input v-model.lazy="email" name="register-email" type="text" placeholder="Email"/>
                            <p v-if="passwordError" class="error-message">As senhas não conferem</p>
                            <input name="register-password" type="password" placeholder="Senha"/>
                            <input name="register-password2" type="password" placeholder="Repita a senha"/>
                            <button @click.prevent="register">CADASTRAR</button>
                            <p class="message">Já possui uma conta? <a href="#">Faça o login</a></p>
                        </form>
                        <form class="login-form">
                            <input name="login-email" type="text" placeholder="E-mail"/>
                            <input name="login-password" type="password" placeholder="Senha"/>
                            <p v-if="loginError" class="error-message">Email e/ou senha inválidos!</p>
                            <button @click.prevent="login">login</button>
                            <p class="message">Não está cadastrado? <a href="#">Crie uma conta</a></p>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </main>

    <footer>
        <div class="footer-container">
            <h4>2020 - Desenvolvido por Lucas Andrade</h4>
        </div>
    </footer>

    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        const form = new Vue({
            el:"main",
            data:{
                passwordError: false,
                emailError: false,
                loginError: false,
                email: "",
            },
            methods:{
                login(){
                    let email = document.getElementsByName("login-email")[0].value;
                    let password = document.getElementsByName("login-password")[0].value;
                    self = this;
                        //Checks if email is already registered
                        axios.defaults.headers.common['X-CSRFToken'] = '{{csrf_token}}';
                        axios.post('{% url 'login' %}', {
                            email: email,
                            password: password,
                            csrfmiddlewaretoken: '{{csrf_token}}'
                        }).then(function(response){
                            if(response.data.success){
                                console.log(response.data.success);
                                self.loginError = false;
                                window.location.href = '/home';
                            } else{
                                self.loginError = true;
                            }
                        })
                },
                register(){
                    let firstName = document.getElementsByName("register-first-name")[0].value;
                    let lastName = document.getElementsByName("register-last-name")[0].value;
                    let email = document.getElementsByName("register-email")[0].value;
                    let password = document.getElementsByName("register-password")[0].value;
                    let password2 = document.getElementsByName("register-password2")[0].value;

                    //Checks if passwords are equal
                    if(password !== password2){
                        this.passwordError = true;
                        return;
                    } else{
                        this.passwordError = false;
                    }

                    if(!this.emailError && !this.passwordError){

                    }


                },
            },
            watch:{
                email(value){
                    self.emailError = false;
                    if(value.length > 0){
                        self = this;
                        //Checks if email is already registered
                        axios.defaults.headers.common['X-CSRFToken'] = '{{csrf_token}}';
                        axios.post('{% url 'check_email' %}', {
                            email: value,
                            csrfmiddlewaretoken: '{{csrf_token}}'
                        }).then(function(response){
                            if(response.data.used){
                                self.emailError = true;
                            } else{
                                self.emailError = false;
                            }
                        })
                    }
                }
            }
        });
    </script>
    <script>
        $('.message a').click(function(){
            $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
        });
    </script>

</body>
</html>