{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Analisador de Eficiência Energética</title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">


    <!-- DATATABLES JS  -->
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.semanticui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/buttons.semanticui.min.js' %}"></script>
    <!-- DATATABLES CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.semanticui.min.css">
    <link rel="stylesheet" href="{% static 'css/dataTables.semanticui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.semanticui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">


    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/panel.css' %}">


    <script>


        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", '{% csrf_token %}');
                }
            }
        });
    </script>
</head>
<body>

    <header>
        <div class="header-container">
            <div class="header-logo">
                <img src="{% static "img/logo.svg" %}" alt="logo"/>
                <h1>Analisador de Eficiência Energética</h1>
            </div>
            <nav class="header-nav">
                <ul class="header-menu">
                    <li><a href="{% url 'index' %}">Início</a></li>
                    {% if user.is_authenticated %}<li class="menu-active"><a href="{% url 'panel' request.user.id %}">Painel</a></li>{% endif %}
                    <li><a href="{% url 'about' %}">Sobre</a></li>
                    <li><a href="{% url 'pbe' %}">PBE</a></li>
                    <li><a href="{% url 'help' %}">Ajuda</a></li>
                    <li><a href="{% url 'contact' %}">Contato</a></li>
                    {% if user.is_authenticated %}<li><a href="{% url 'logout' %}">Sair</a></li>{% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="main-container">
            <h2>{{ selected_household_appliance.type }} {{ selected_household_appliance.brand }} - {{ selected_household_appliance.model }}</h2>

            <div class="main-content">
                <div class="segment">
                    <form action="{% url 'panel' request.user.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <select onchange="this.form.submit()" id="selected-household" name="selected-household" class="ui dropdown">
                                {% for item in household_appliances %}
                                    <option value="{{ item.pk }}"
                                        {% if item.pk == selected_household_appliance.pk %}selected{% endif %}
                                    >
                                        {{ item.type }} {{ item.brand }} - {{ item.model}}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                <div class="ui hidden divider"></div>
                    <div class="panel-container">

                        <h3>Custo mensal aproximado para {% now "M/Y" %}</h3>
                        <p>Companhia de energia: {{ address.energy_company }}<br/>
                            Tarifa residêncial(B1) TUSD: <span data-tooltip="Tarifa de Uso do Sistema de Distribuição" class="panel-info">[[taxTUSD]] R$/MWh</span> <br/>
                            Tarifa residêncial(B1) TE: <span data-tooltip="Tarifa de Energia" class="panel-info">[[taxTE]] R$/MWh</span><br/>
                            Bandeira: <span class="green-flag">[[flag]]</span>
                        </p>
                        <p class="msg-cost"> Custo estimado do consumo de energia do equipamento no mês:
                            <br/>
                            <div class="energy-cost">R$ [[equipmentCost]]</div>
                        </p>
                    </div>
                    <hr/>
                    <h3 class="segment-title">Gráfico do consumo médio (kWh) nos últimos 7 dias</h3>
                    <div class="six wide column">
                        <canvas id="test-chart"></canvas>
                    </div>
                    <hr/>
                    <h3 class="segment-title">Classificação atualizada do equipamento</h3>
                    {%  if classification %}
                    <div id="tag-a" class="tag-div">
                        <div id="tag-a-rectangle"></div>
                        <div id="tag-a-pointer">
                            A
                        </div>
                        {% if classification == 'A' %}
                        <div class="tag-pointer-black">
                            A
                        </div>
                        {% endif %}
                    </div>
                    <div id="tag-b" class="tag-div">
                        <div id="tag-b-rectangle"></div>
                        <div id="tag-b-pointer">
                            B
                        </div>
                        {% if classification == 'B' %}
                        <div class="tag-pointer-black">
                            B
                        </div>
                        {% endif %}
                    </div>
                    <div id="tag-c" class="tag-div">
                        <div id="tag-c-rectangle"></div>
                        <div id="tag-c-pointer">
                            C
                        </div>
                        {% if classification == 'C' %}
                        <div class="tag-pointer-black">
                            C
                        </div>
                        {% endif %}
                    </div>
                    <div id="tag-d" class="tag-div">
                        <div id="tag-d-rectangle"></div>
                        <div id="tag-d-pointer">
                            D
                        </div>
                        {% if classification == 'D' %}
                        <div class="tag-pointer-black">
                            D
                        </div>
                        {% endif %}
                    </div>
                    <div id="tag-e" class="tag-div">
                        <div id="tag-e-rectangle"></div>
                        <div id="tag-e-pointer">
                            E
                        </div>
                        {% if classification == 'E' %}
                        <div class="tag-pointer-black">
                            E
                        </div>
                        {% endif %}
                    </div>
                    <div id="tag-f" class="tag-div">
                        <div id="tag-f-rectangle"></div>
                        <div id="tag-f-pointer">
                            F
                        </div>
                        {% if classification == 'F' %}
                        <div class="tag-pointer-black">
                            F
                        </div>
                        {% endif %}
                    </div>
                    <div id="tag-g" class="tag-div">
                        <div id="tag-g-rectangle"></div>
                        <div id="tag-g-pointer">
                            G
                        </div>
                        {% if classification == 'G' %}
                        <div class="tag-pointer-black">
                            G
                        </div>
                        {% endif %}
                    </div>
                    {% else %}
                        <p>Não há medições suficientes para efetuar o cálculo.</p>
                    {% endif %}

                    <hr>
{#                    CHARTS#}
                    <h3 class="segment-title">Medições realizadas</h3>
                    <table class="ui celled striped table" id="measure-datatable">
                        <thead>
                        <tr>
                            <th>Tensão</th>
                            <th>Corrente</th>
                            <th>Potência Ativa</th>
                            <th>Fator de Potência</th>
                            <th>Frequência</th>
                            <th>Energia</th>
                            <th>Data</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th><b>Tensão</b></th>
                            <th><b>Corrente</b></th>
                            <th><b>Potência Ativa</b></th>
                            <th><b>Fator de Potência</b></th>
                            <th><b>Frequência</b></th>
                            <th><b>Energia</b></th>
                            <th><b>Data</b></th>

                        </tr>
                        </tfoot>
                        <tbody>
                        {# BACKEND #}
                        </tbody>
                    </table>
                    <hr/>

                </div>
        </div>
    </main>

    <footer>
        <div class="footer-container">
            <h4>2020 - Desenvolvido por Lucas Andrade</h4>
        </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    <script>
        $(document).ready(function () {
            var measures_datatable = $('#measure-datatable').DataTable({
                dom: "<'ui stackable grid'<'row'<'ten wide column'B><'right aligned six wide column'f>><'row dt-table'<'sixteen wide column'tr>><'row'<'seven wide column'i><'right aligned nine wide column'p>>>",
                buttons: ['pageLength'],
                order: [[0, "desc"]],
                pagingType: "numbers",
                "columnDefs": [ {
                    "orderable": false,
                    "targets": []
                }],
                processing: true,
                serverSide: true,
                ajax: "{% url 'measure_datatable' selected_household_appliance.id %}",
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json"
                }
            });
        });

    </script>

    {#Chart#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '{% url "test_chart" %}',
                type: 'POST',
                dataType: "json",
                success: function (data) {
                    if (data.valid) {
                        new Chart(document.getElementById("test-chart"), {
                            type: 'line',
                            data: {
                                labels: data.chart_labels,
                                datasets: [{
                                    label: 'Consumo (kWh)',
                                    backgroundColor: 'rgba(0,135,216,.5)',
                                    data: data.chart_values
                                }]
                            },
                            options: {
                                title: {
                                    display: false,
                                    text: 'Consumo energético (kWh) nos ultimos 7 dias'
                                },
                                legend:{
                                    display: false,
                                },
                            },
                        });
                    } else {
                            console.log('Erro no gráfico de tensão')
                    }
                }
            });
        });
    </script>
    <script>
        const select = new Vue({
            el:"main",
            delimiters: ['[[', ']]'],
            data:{
                selectedHouseholdId: "",
                currentDate: (new Date()).toISOString().split('T')[0],
                energyCompany: "{{ address.energy_company }}",
                energyConsumed: "{{ consumed_energy }}",
                equipmentCost: "",
                flag: "",
                taxTUSD: "",
                taxTE: "",
            },
            created(){
              this.getFlag();
              this.getTax();
            },
            methods:{
                selectHousehold(){
                    let selectedHouseholdID = document.getElementById("selected-household");
                    console.log(selectedHouseholdID.value);
                    axios.defaults.headers.common['X-CSRFToken'] = '{{csrf_token}}';
                    axios.post('{% url "panel" request.user.id  %}',{
                        selectedHouseholdID:2,
                        csrfmiddlewaretoken: '{{csrf_token}}',
                    }).then(function(response){
                        document.location.reload(true)
                    })
                },
                getFlag(){

                    self = this;
                    axios.get(`https://apise.way2.com.br/v1/bandeiras/?api_key=62cbcd1acdc847b6884dad558bd43f93&datainicial=${self.currentDate}`)
                    .then(function (response){
                        console.log(response.data.body.items[0].flagType);
                        let flagNumber = response.data.body.items[0].flagType;
                        if(flagNumber === 0) self.flag = "Verde";
                        if(flagNumber === 1) self.flag = "Amarela";
                        if(flagNumber === 2) self.flag = "Vermelha - Patamar 1";
                        if(flagNumber === 3) self.flag = "Vermelha - Patamar 2";
                        console.log(self.flag);
                    })

                },
                getTax(){
                    self = this;
                    axios.get(`https://apise.way2.com.br/v1/tarifas/?api_key=62cbcd1acdc847b6884dad558bd43f93&agente=${self.energyCompany.toUpperCase()}&ano=${self.currentDate.substr(0,4)}`)
                    .then( (response) => {
                        console.log(response.data[138])
                        let res = response.data[138];
                        self.taxTUSD = res.tarifaconsumotusd;
                        self.taxTE = res.tarifaconsumote;
                        self.equipmentCost = (((self.taxTUSD/1000) * self.energyConsumed) + ((self.taxTE/1000) * self.energyConsumed)).toFixed(2)
                        console.log(self.equipmentCost)
                    })
                },

            },
        })
    </script>
</body>
</html>