{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Analisador de Eficiência Energética</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <header>
        <div class="header-container">
            <div class="header-logo">
                <img src="{% static "img/logo.svg" %}" alt="logo"/>
                <h1>Analisador de Eficiência Energética</h1>
            </div>
            <nav class="header-nav">
                <ul class="header-menu">
                    <li><a href="{% url 'index' %}">Início</a></li>
                    {% if user.is_authenticated %}<li><a href="{% url 'panel' request.user.id %}">Painel</a></li>{% endif %}
                    <li><a href="{% url 'about' %}">Sobre</a></li>
                    <li class="menu-active"><a href="{% url 'pbe' %}"">PBE</a></li>
                    <li><a href="{% url 'help' %}">Ajuda</a></li>
                    <li><a href="{% url 'contact' %}">Contato</a></li>
                    {% if user.is_authenticated %}<li><a href="{% url 'logout' %}">Sair</a></li>{% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="main-container">
            <h2>Programa Brasileiro de Etiquetagem</h2>
            <div class="main-content">
                <div class="segment">


                    <h3>O que é o PBE ?</h3>
                    <p>
                        Criado em 1984, o Programa Brasileiro de Etiquetagem (PBE) é coordenado pelo Instituto Nacional de Metrologia, Qualidade e Tecnologia (Inmetro) e utiliza da Etiqueta Nacional de Conservação de Energia (ENCE) com o objetivo de informar e alertar o consumidor quanto a eficiencia energética de eletrodomesticos. O PBE conta com 38 programas, em diferentes níveis de implementação. Algumas categorias são avaliadas há mais de 20 anos, como refrigeradores e condicionadores de ar, outros são mais recentes, como lavadoras, fogões, fornos a gás, lampadas, televisores, chuveiros elétricos e ventiladores de teto. Novos programas estão em pleno funcionamento: veículos leves, edificações comerciais, publicas e residenciais, transformadores e sistemas fotovoltaicos que estão em alta graças ao cresciemento da geração distribuida e do incentivo a fontes alternativas de energia.

                    </p>
                    <p>
                        Inicialmente o programa contou com adesão voluntária dos fabricantes dos equipamentos e eletrodomésticos que seriam avaliados. Hoje o PBE conta também com dois parceiros importantes, são eles a Eletrobras, por meio do PROCEL, e a Petrobras, por meio do Programa Nacional da Racionalização do Uso dos Derivados do Petróleo e do Gás Natural (CONPET). Ambos os programas premiam os produtos mais eficientes também através de etiquetas. A classificação quanto a eficiência energética vai de A (mais eficiente) à E (menos eficiente). O conteudo das etiquetas melhora de certo modo a comunicação entre quem compra e quem vende, uma vez que o consumidor passa a ter detalhes precisos obtidos em laboratório sobre o produto que está comprando.
                    </p>

                </div>
            </div>

        </div>
    </main>

    <footer>
        <div class="footer-container">
            <h4>2020 - Desenvolvido por Lucas Andrade</h4>
        </div>
    </footer>

    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>
    <script>

        $('.message a').click(function(){
            $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
        });
    </script>
</body>
</html>